[submodule "Boost"]
	path = Boost
	url = git@github.com:KayEss/fost-boost.git
[submodule "crypto++"]
	path = crypto++
	url = git@github.com:KayEss/fost-crypto.git
[submodule "OpenSSL"]
	path = OpenSSL
	url = git@github.com:KayEss/fost-openssl.git
[submodule "fost-base"]
	path = fost-base
	url = git@github.com:KayEss/fost-base.git
[submodule "threading"]
	path = threading
	url = git@github.com:KayEss/f5-threading.git
[submodule "fost-internet"]
	path = fost-internet
	url = git@github.com:KayEss/fost-internet.git
[submodule "fost-orm"]
	path = fost-orm
	url = git@github.com:KayEss/fost-orm.git
[submodule "fost-postgres"]
	path = fost-postgres
	url = git@github.com:KayEss/fost-postgres.git
[submodule "PostreSQL"]
	path = PostreSQL
	url = git@github.com:KayEss/fost-libpq.git
